<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="form">
    <form action="/products/save" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="_id" th:value="*{id}" />
        <div th:if="${context.get('errors')}" id="error_explanation">
            <h2> errors prohibited this product from being saved:</h2>

            <ul>
                <li th:each="error : ${context.get('errors')}" th:text="${error}"></li>
            </ul>
        </div>

        <div class="field">
            <label for="title">Title</label><br />
            <input type="text" id="title" name="title" th:value="*{title}" />
        </div>
        <div class="field">
            <label for="description">Description</label><br />
            <textarea id="description" name="description" th:text="*{description}" rows="6"></textarea>
        </div>
        <div class="field">
            <label for="imageUrl">Image URL</label><br />
            <input type="text" id="imageUrl" name="imageUrl" th:value="*{imageUrl}" />
        </div>
        <div class="field">
            <label for="price">Price</label><br />
            <input type="text" id="price" name="price" th:value="*{price}" />
        </div>

        <div class="actions">
            <input type="submit" />
        </div>
    </form>
</div>
</body>
</html>
