<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pragprog Books Online Store</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    <link rel="stylesheet" type="text/css" href="/css/scaffolds.css" />
    <link rel="stylesheet" type="text/css" href="/css/products.css" />
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.restfulizer.min.js"></script>
</head>
<body th:class="products">
<h1>Listing <span th:text="${context.get('products').size()}"></span> products</h1>
<p id="notice" th:if="${context.get('notice')}"  th:text="${context.get('notice')}"></p>
<table>
    <tr th:each="product : ${context.get('products')}" th:class="${productStat.odd} ? 'list_line_even' : 'list_line_odd'">
        <td>
            <img th:if="${product.imageUrl} != ''" th:src="${product.imageUrl}" th:class="list_image" />
        </td>
        <td class="list_description">
            <dl>
                <dt th:text="${product.title}"></dt>
                <dd th:utext="${product.description.substring(0.80)}"></dd>
            </dl>
        </td>
        <td class="list_actions">
            <a th:href="|/products/show/${product.id}|" th:text="Show"></a><br/>
            <a th:href="|/products/edit/${product.id}|" th:text="Edit"></a><br/>
            <a th:href="|/products/${product.id}|" th:text="Destroy" data-method="DELETE" data-confirm="Are you sure?" class="rest"></a>
        </td>
    </tr>
</table>
<br />
<a href="/products/new">New product</a>

<script type="text/javascript">
    $("a.rest").restfulizer();
</script>
</body>
</html>
