<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Depot</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/scaffolds.css" />
    <link rel="stylesheet" type="text/css" href="/css/products.css" />
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.restfulizer.js"></script>
</head>
<body th:class="products" th:object="${context.get('product')}">

<h1>New product</h1>

<div th:replace="templates/products/form.html :: form"></div>

<a href="/products">Back</a>
<script type="text/javascript">
        $(".rest").restfulizer();
    </script>
</body>
</html>
