<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Depot</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/scaffolds.css" />
    <link rel="stylesheet" type="text/css" href="/css/products.css" />
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.restfulizer.js"></script>
</head>
<body th:class="products" th:object="${context.get('product')}">
    <p id="notice" th:text="${context.get('notice')}"></p>

    <p>
        <strong>Title:</strong>
        <span th:text="*{title}"></span>
    </p>

    <p>
        <strong>Description:</strong>
        <span th:utext="*{description}"></span>
    </p>

    <p>
        <strong>Image url:</strong>
        <span th:text="*{imageUrl}"></span>
    </p>

    <p>
        <strong>Price:</strong>
        <span th:text="*{price}"></span>
    </p>

    <a th:href="|/products/edit/*{id}|">Edit</a> |
    <a href="/products">Back</a>
    <script type="text/javascript">
        $(".rest").restfulizer();
    </script>
</body>
</html>
