<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pragprog Books Online Store</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    <link rel="stylesheet" type="text/css" href="/css/scaffolds.css" />
    <link rel="stylesheet" type="text/css" href="/css/carts.css" />
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.restfulizer.js"></script>
</head>
<body th:class="carts" th:object="${context.get('cart')}">
<div id="banner">
    <img src="/images/logo.png" />
    <span th:text="${page_title} != null ? ${page_title} : 'Pragmatic Bookshelf'"></span>
</div>
<div id="columns">
    <div id="side" th:include="templates/side_menu.html :: side_menu"></div>
    <div id="main">
        <p id="notice" th:if="${context.get('notice')}"  th:text="${context.get('notice')}"></p>
        <h2>Your Pragmatic Cart</h2>
        <table>
            <tr th:each="lineItem : ${context.get('lineItems')}" th:object="${context.get('productMap')[lineItem.productId]}">
                <td th:text="${lineItem.count} + ' x'"></td>
                <td th:text="*{title}"></td>
                <td th:text="'$' + *{price} * ${lineItem.count}" class="item_price"></td>
            </tr>
            <tr class="total_line">
                <td colspan="2">Total</td>
                <td class="total_cell" th:text="'$'+${context.get('totalPrice')}"></td>
            </tr>
        </table>
        <a href="/carts" data-method="DELETE" data-confirm="Are you sure?" class="rest"></a>
    </div>
</div>
<script type="text/javascript">
        $(".rest").restfulizer();
    </script>
</body>
</html>
